# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

# Large datasets (not included in repo)
data/
datasets/
